*{
    margin: 0;
    padding: 0;
    font-style: normal;
    /* font-family: 'Roboto', sans-serif; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
body{
    background: #181818;
}
/* start nav  */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin: 26px auto 0;
}
nav ul{
        display: flex;
        justify-content: space-between;
        width: 388px; 
        height: fit-content;
        height: -moz-fit-contect;   
        margin-top: 24px;
        list-style: none;
}
nav a{
    text-decoration: none;
}
nav button{
    width: 139px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-weight: bold;
}
@media(min-width:300px) and (max-width:1199px){ 
    nav{
        width: 90%;
    }
    nav ul{
        width: 293px;
        transform: translate(34px, 55px);
        position: absolute;
    }
    nav img:nth-child(1){
        width: 150px;
    }
    nav button{
        width: 108px;
        height: 39px;
        transform: translate(13px, 5px);
        font-weight: 400;
    }
    nav > img:nth-last-child(1){
        width: 48px;
        transform: translate(13px, 0);
    }
    .display-none{
        display: none;
    }
}
@media(min-width:1200px){
    nav{
        width: 1000px;
    }
    nav img:nth-child(1){
        width: 202px;
    }
    nav img:nth-last-child(1){
        display: none;
    }
}
/* end nav  */
h2{
    font-size: 56px;
    width: 529px;
    line-height: 59px;
    letter-spacing: 3.2px;
    font-weight: 100;
    font-weight: 400;
}
p{
    font-size: 19px;
    width: 712px;
    line-height: 23px;
    letter-spacing: 2.2px;
    font-weight: 100;
}
section > p{
    margin-top: 68px;
}
/* start section1  */
section{
    margin: 208px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1 h2{
    width: 578px;
}
section button{
    width: 139px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-weight: bold;
    cursor: pointer;
    font-weight: 100;
}
.section1 div{
    width: 373px;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}
.color2{
    background-color: #4452FE;
    border-color: #4452FE;
}
.section1 img:nth-last-child(1){
    width: 100%;
    margin-top: 50px;
}
@media(min-width:300px) and (max-width:1199px){
    h2{
        font-size: 39px;
        font-weight: 100;
        width: 200px;
        letter-spacing: 0.2px;
    }
    p{
        letter-spacing: 1.2px;
        font-size: 12px;
    }
    .section1 h2{
        width: 269px;
    }
    .section1 p{
        width: 283px;
    }
    .section1 div{
        flex-direction: column;
        align-items: center;
        height: 149px;
    }
}
/* end section1  */
/* start section2  */
.section2 > div:nth-last-child(1){
    display: flex;
    margin-top: 139px;
}
.imgs > img:nth-child(1){
    transform: translate(-48px, 0)
}
.imgs > img:nth-last-child(1){
    position: absolute;
    transform: translate(-437px, 422px);
}
.listed-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.listed-items div{
    text-align: left;
    margin-left: 59px;
    margin-top: 40px;
}
.listed-items img{
    position:absolute;
    transform: translate(-55px, -16px);
}
.listed-items h3{
    width: 169px;
    font-weight: 500;
    font-size: 21px;
}
.listed-items p {
    width: 343px;
    font-weight: 200;
}
@media (min-width:300px) and (max-width:1199px){
    .section2 h2{
        font-size: 39px;
        letter-spacing: 6px;
    }
    .section2 p{
        width: 292px;
    }
    .section2 > div:nth-last-child(1){
        flex-direction: column;
    }
    .imgs > img:nth-child(1){
        transform: translate(0, 0);
        width: 357px;
    }
    .imgs > img:nth-last-child(1){
        transform: translate(-299px, 199px);
        width: 255px;
    }
    .listed-items div{
        margin-top: 54px;
        text-align: left;
    }
    .listed-items p{
        width: 207px;
        margin-top: 23px;
    }
    .listed-items h3{
        margin-left: 31px;
    }
    .listed-items img{
        transform: translate(-19px, -14px);
    }
}
/* end section2  */
/* start section 3  */
.section3 > div{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin-top: 140px;
}
.section3 > div > div{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    height: 600px;
    padding-top: 40px;
    
}
.section3 h3 {
    color: black;
}
.section3 div p {
    width: 370px;
    font-size: 17px;
    color: black;
    letter-spacing: 1.2px;
}
@media(min-width:300px) and (max-width:1199px){
    .section3 p{
        width: 221px;
    }
    .section3 > div p{
        font-size: 13px;
    }
    .section3 > div p{
        width: 243px;
        font-size: 12px;
    }
    .section3 > div{
        flex-direction: column;
        width: 322px;
        height: 844px;
    }
    .section3 > div > div{    
        width: 325px;
        height: 400px;
    }
    .section3 > div > div img{
        width: 265px;
    }
}
/* end section 3  */
/* start section 4  */

.grid-display{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 1200px;
}
.section4 P{
    width: 685px;
}
.section4 img:nth-child(4){
    border-radius: 9px;
}
.section4 img:nth-child(6){
    transform: translate(151px, 0);
}
.section4 img:nth-child(7){
    transform: translate(141px, 0);
}
@media (min-width:300px) and (max-width:1199px){
    .grid-display{
        display: none;
    }
    .flex-display{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section4 P{
        width: 350px;
    }
    .section4 h2{
        width: 147px;
    }

}
@media (min-width:1200px){
    .section4 button{
        display: none;
    }
    .flex-display{
        display: none;
    }
}
/* end section  4  */
/* start section 5  */
.icon-countaner{
    display: flex;
    justify-content:space-between;
    width: 800px;
    margin-top: 80px;
}
.section5 button{
    width: 164px;
    margin-top: 80px;
}
@media (min-width:300px) and (max-width:1199px){
    .section5 p{
        width: 350px;
    }
    .icon-countaner{
        display: grid;
        width: 300px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 45px;
        grid-row-gap: 18px; 
    }
    .section5 img:nth-last-child(1){
        width: 106px;
        transform: translate(-15px, 10px);
    }
}
/* end section 5  */
/* start section 6  */ 
.section6 > div {
    margin-top: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 51px;
}
.section6 > div > div{
    width: fit-content;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 38px;
    width: -moz-fit-content;
}
.section6 p{
    width: 414px;
    font-size: 16px;
    margin-top: 50px;
}
.name-and-waz{
    margin-left: 25px;
}
.section6 > div > div > div{
    display: flex;
}
@media (min-width:300px) and (max-width:1199px){
    .section6 > div {
        margin-top: 72px;
        display: flex;
        flex-direction: column;
    }
    .section6 > div > div {
        width: 300px;
    }
    .section6 p {
        width: 213px;
        font-size: 11px;
        margin-top: 50px;
    }
}
/* end section 6  */
/* start section 7  */ 
.section7 > div{
    display: flex;
    background-color: #343434;
    width: 1200px;
    margin: 0 auto;
    border-radius: 33px;
}
.section7 > div > div{
    
    width: 500px;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
}
.section7 button {
    margin-top: 33px;
    width: 195px;
    background: #4452FE;
    font-size: 15px;
    border-color: transparent;
}
.section7 p {
    margin-top: 43px;
    font-size: 40px;
    line-height: 49px;
    font-weight: 500;
    width: 484px;
}
.img1{
    border-bottom-right-radius: 33px; 
    margin-left: 115px;
}
@media (min-width:1200px){
    .img2{
        display: none;
    }
    .section7 p{
        margin-left: 120px;
    }
    
}

@media (min-width:300px) and (max-width:1199px){
    .section7 > div{
        width: 100%;
        border-radius: 0;
        justify-content: space-around;
        flex-direction: column;
        background-color: #1E1E1E;
        height: 802px;
        
    }
    .section7 p{
        width: 306px;
        line-height: 50px;
    }
    .section7 > div > div{
        width: 100%;
        margin-top: 31px;
        height: fit-content;
        height: -moz-fit-content; 
    }
    .img1{
        display: none;
    }
    .img2{
        margin-top: 50px;
    }
}
/* end section 7  */
/* start footer  */
footer {
    margin: 208px auto 132px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > div{
    width: 1200px;
    display: flex;
    justify-content: space-around;
}
.dl{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.dl a{
    text-decoration: none;
}
dt{
    font-size: 20px;
    margin-bottom: 34px;
}
dd{
    margin-bottom: 14px;
}
.num-plc{
    display: grid;
    grid-template-columns: 39px 389px;
    grid-row-gap: 21px;    
}
.num-plc p{
    transform: translate(10px, 10px);
    width: 401px;
}
.sm{
    display: flex;
    justify-content: space-between;
    width: 13em;
    margin-top: 31px;
}

@media (min-width:300px) and (max-width:1199px){
    footer > div{
        flex-direction: column;
        width: 300px;
    }
    dl{
        margin-left: 40px;
    }
    .dl {
        flex-direction: column;
        width: 300px;
        height: 924px;
    }
    .dl dt{
        font-size: 24px;
        margin-bottom: 40px;
    }
    .dl dd{
        margin-bottom: 22px;
    }
    .comun{
        margin-top: 51px;
    }
    .num-plc p{
        width: 280px;
    }
    .sm {
        margin: 31px auto 0;
    }
}
/* end footer  */